/* Variables */
$button-form: linear-gradient(#ff79da, #9356dc);
$location-color: #eaeaea;
$background-color: #f6f6f6;
/* Mixin */
@mixin button-link {
  border: none;
  border-radius: 50px;
  padding: 15px;
  a {
    color: white;
    text-decoration: none;
  }
}

@mixin fonctionnement {
  border: none;
  border-radius: 20px;
  padding: 10px;
}

@mixin icon-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@mixin resto-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

@mixin head-menu {
  display: flex;
  align-items: center;
}

/* Code */
* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
.localisation {
  background-color: $location-color;
  @include icon-info;
  color: #353535;
  font-size: x-large;
}

header {
    img{
  margin: 0 25%;
  padding: 10px;
}
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

.intro {
  text-align: center;
  background: $background-color;
  padding-bottom: 30px;
  .text-intro {
    margin: 0 30px 0 30px;
    font-size: larger;
  }
}

.explore-order {
  @include button-link;
  background: $button-form;
}

.function-section{
  display: grid;
  margin-inline: 5%;
}

.function-desk{
  display: grid;
  padding-block-end: 1em;
}

.step123{
  background: #9356dc;
  border-radius: 50%;
  width: 20px;
  color: white;
  text-align: center;
  position: relative;
  top: 48px;
  margin-left: -8px;
}



.fonctionnement {
  @include fonctionnement;
  @include icon-info;
  background: $background-color;
}

.resto-section {
  background: $background-color;
  display: grid;
  padding: 1em;
  img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
}

.restaurant {
  @include resto-card;
}

.resto-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  a{
    text-decoration: none;
    color: black;
  }
}



.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  .fa-heart{
    font-size: xx-large;
  }
  
  
}

footer {
  background: #353535;
  color: white;
  padding: 20px;
  .footer-desk {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    ul {
      padding: 0;
      gap: 0.5em;
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      gap: 10px;
    }
    img {
      filter: invert(100%);
      width: 30%;
    }
  }
}


.previous-icon {
  font-size: x-large;
}

.resto-img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.head-resto {
  display: flex;
  align-items: center;
  a{
    color: black;
    margin-inline-start: 1em;
  }
}

.menu{
    background: $background-color;
    margin-top: -8%;
    z-index: 10;
    position: relative;
    border-radius: 40px;
}



.menu-head{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    .menu-title{
        font: 2.2rem "Shrikhand";
        text-align: center;
    }
    .fa-heart{
        font-size: xx-large;
}
}

.menu-align{
  display: grid;
  margin-inline: 5%;
}

.menu-section{
  width: 2em;
  display: inline-block;
    border-bottom: solid #99E2D0;
}

.menu-cards{
    display: flex;
  flex-direction: column;
  gap: 1em;
  
}

.menu-details{
    display: flex;
  align-items: end;
  justify-content: space-between;
  width: 95%;
  background: white;
  border-radius: 20px;
  padding: 1em;
  margin-right: -5%;
  & h3 {
    margin: 0;
  }
  & p{
    margin: 0;
    margin-inline-end: 1em;
  }
}

.menu-content{
    display: flex;
  flex-direction: column;
  gap: 1em;
}

.order{
  padding-block: 1em;
  display: flex;
  justify-content: center;
}

.check-hover{
  display: flex;
  
   &:hover{
     .check{
     
       animation: sliding 400ms linear;
       display: flex;
   justify-content: center;
   align-items: center;
       width: 20%;
       border-radius: 0 20px 20px 0;
       background: #99E2D0;
       font-size: 2.5em;
   color: white;
       .fa-circle-check{
         display: inline;
         
       }
   }
 }
 .fa-circle-check{
   display: none;
 }
 }
 

@keyframes sliding{
  0%{
    width: 0%;
  }

50%{
  width: 10%;
}

100%{
  width: 20%;
}
}
/* Desktop */

@media screen and (min-width: 768px) {
  header img {
    margin: 0 40%;

    width: 20%;
  }

.text-intro{
 h1{
  font-size: xxx-large;
 }
 
  p{
    color: #353535;
  }
}

  .head-resto{
    padding-inline: 1em;
  }



  .function-desk {
    display: flex;
    justify-content: center;
    padding-block-end: 1em;
    gap: 1em;
    align-items: flex-start;
  }

  .function-section{
    margin-inline: 2%;
    h2{
      margin-inline-start: 5%;
    }
  }

  .fonctionnement {
    width: 20%;
  }

  .step123{
    top: 38%;
    left: 1.5em;
  
}

  .resto-section {
    padding: 2em;
    h2{
      margin-inline-start: 5%;
    }
  }

  .resto-cards {
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .restaurant {
    margin-inline-start: 10%;
  }

  footer{
    display: flex;
  align-items: end;
  justify-content: end;
  height: 4em;
  .footer-desk {
    display: flex;
    flex-direction: row-reverse;
    gap: 4.5em;
    justify-content: end;
    align-items: end;
    ul {
      display: flex;
      gap: 15px;
      flex-direction: row;
  align-items: end;
  margin: 0;
    }
    img {
      width: 15%;
    }
  }
}

.menu{
  width: 70%;
  margin-inline: 15%;
  border-radius: 40px;
  .menu-details{
    width: 95%;
  }
  .menu-head{
    justify-content: center;
    gap: 3em;
  }
  .menu-align{
    margin-inline: 10%;
    
  }
}

.menu-details{
  p{
    margin-inline-end: 2em;
  }
}
}

.check-hover{
  display: flex;
  
   &:hover{
     .check{
      animation: sliding-desk 400ms linear;
      width: 15%;}
     }
    }
    @keyframes sliding-desk{
      0%{
        width: 0%;
      }
    
    50%{
      width: 7.5%;
    }
    
    100%{
      width: 15%;
    }
    }