/* Variables */
/* Mixin */
/* Code */
* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

header img {
  margin: 0 25%;
  padding: 10px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

.intro {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 30px;
}
.intro .text-intro {
  margin: 0 30px 0 30px;
  font-size: larger;
}

.explore-order {
  border: none;
  border-radius: 50px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
}
.explore-order a {
  color: white;
  text-decoration: none;
}

.function-section {
  display: grid;
  margin-inline: 5%;
}

.function-desk {
  display: grid;
  gap: 1em;
}

.fonctionnement {
  border: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #f6f6f6;
}

.resto-section {
  background: #f6f6f6;
  display: grid;
  padding: 1em;
}
.resto-section img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant {
  display: flex;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.resto-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
}
.card-content .fa-heart {
  font-size: xx-large;
}

footer {
  background: #353535;
  color: white;
  padding: 20px;
}
footer .footer-desk {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .footer-desk ul {
  padding: 0;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}
footer .footer-desk li {
  display: flex;
  gap: 10px;
}
footer .footer-desk img {
  filter: invert(100%);
  width: 30%;
}

.previous-icon {
  font-size: x-large;
}

.resto-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.head-resto {
  display: flex;
  align-items: center;
}

.menu {
  background: #f6f6f6;
  margin-top: -5%;
  z-index: 10;
  position: relative;
}

.menu-head {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.menu-head .menu-title {
  font: 2.2rem "Shrikhand";
  text-align: center;
}
.menu-head .fa-heart {
  font-size: xx-large;
}

.menu-align {
  display: grid;
  margin-inline: 5%;
}

.menu-section {
  width: 2em;
  display: inline-block;
  border-bottom: solid #99E2D0;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menu-details {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 95%;
  background: white;
  border-radius: 20px;
  padding: 1em;
  margin-right: -5%;
}
.menu-details h3 {
  margin: 0;
}
.menu-details p {
  margin: 0;
  margin-inline-end: 1em;
}
.menu-details .check {
  width: 20%;
  display: flex;
  background: gray;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menu-details .check:hover {
  color: #99E2D0;
}
.menu-details .check .fa-circle-check {
  font-size: xx-large;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.order {
  padding-block: 1em;
  display: flex;
  justify-content: center;
}

.check-hover {
  display: flex;
}
.check-hover:hover .check {
  animation: sliding 400ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  font-size: 2.5em;
  color: white;
}
.check-hover:hover .check .fa-circle-check {
  display: inline;
}
.check-hover .fa-circle-check {
  display: none;
}

@keyframes sliding {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 20%;
  }
}
/*animation: check-slide 2s linear alternate;*/
/*
@keyframes check-slide{
  0% {transform: translateX(0);
    border-radius: 0 20px 20px 0;
  background: #99E2D0;
    width: 0%;}

  25%{transform: translateX(0);
    background: #99E2D0;
    width: 6%;
    border-radius: 0 20px 20px 0;}

  50%{transform: translateX(0);
    background: #99E2D0;
    width: 12%;
    border-radius: 0 20px 20px 0;
  }

  75%{transform: translateX(0);
    background: #99E2D0;
    width: 20%;
    border-radius: 0 20px 20px 0;}

    100%{transform: translateX(0);
      background: #99E2D0;
      width: 0%;
      border-radius: 0 20px 20px 0;}

}
*/
/* Desktop */
@media screen and (min-width: 768px) {
  header img {
    margin: 0 40%;
    width: 20%;
  }
  .head-resto {
    padding-inline: 1em;
  }
  .function-desk {
    display: flex;
    justify-content: center;
  }
  .fonctionnement {
    width: 20%;
  }
  .resto-section {
    padding: 2em;
  }
  .resto-cards {
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .restaurant {
    margin-inline-start: 10%;
  }
  footer {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 4em;
  }
  footer .footer-desk {
    display: flex;
    flex-direction: row-reverse;
    gap: 4.5em;
    justify-content: end;
    align-items: end;
  }
  footer .footer-desk ul {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: end;
    margin: 0;
  }
  footer .footer-desk img {
    width: 15%;
  }
  .menu {
    width: 70%;
    margin-inline: 15%;
    border-radius: 40px;
  }
  .menu .menu-details {
    width: 95%;
  }
  .menu .menu-head {
    justify-content: center;
    gap: 3em;
  }
  .menu .menu-align {
    margin-inline: 10%;
  }
}/*# sourceMappingURL=style.css.map */