/* Variables */
$button-form: linear-gradient(#ff79da, #9356dc);
$location-color: #eaeaea;
$background-color: #f6f6f6;
/* Mixin */
@mixin button-link {
  border: none;
  border-radius: 50px;
  padding: 15px;
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    filter: brightness(1.2);
    box-shadow: (0px 4px 10px 0px rgba(0, 0, 0, 0.55));
  }
}

@mixin fonctionnement {
  border: none;
  border-radius: 20px;
  padding: 10px;
}

@mixin icon-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@mixin resto-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

@mixin head-menu {
  display: flex;
  align-items: center;
}

@mixin cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Code */
* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  .content {
    position: relative;
    .loader-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 4;
      background: white;
      transition: opacity 300ms linear 5s, visibility 300ms linear 5s;
      opacity: 0;
      visibility: hidden;
      .loader {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid #9356dc;
        border-right-color: #ff79da;
        animation: l2 3s infinite linear;
      }
    }
  }
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}


.localisation {
  background-color: $location-color;
  @include icon-info;
  color: #353535;
}

header {
  img {
    margin-inline: 23%;
    padding: 1em;
    width: 50%;
    height: 30%;
  }
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

.intro {
  text-align: center;
  background: $background-color;
  padding-bottom: 30px;
  .text-intro {
    margin: 0 30px 0 30px;
    font-size: larger;
  }
}

.margin-button {
  margin-block: 3em;
}

.explore-order {
  @include button-link;
  background: $button-form;
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.function-section {
  display: grid;
  margin-inline: 5%;
}

.function-desk {
  display: grid;
  padding-block-end: 1em;
}

.step123 {
  background: #9356dc;
  border-radius: 50%;
  width: 20px;
  color: white;
  text-align: center;
  position: relative;
  top: 48px;
  margin-left: -8px;
  z-index: 2;
}

.fonctionnement {
  @include fonctionnement;
  @include icon-info;
  background: $background-color;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.resto-section {
  background: $background-color;
  display: grid;
  padding: 1em;
}

.resto-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  a {
    text-decoration: none;
    color: black;
  }
  .restaurant {
    @include resto-card;
    .new-restaurant {
      position: relative;
      p {
        width: fit-content;
        background: aquamarine;
        position: absolute;
        left: 70%;
        background: #99E2D0;
        color: #008766;
        padding: 0.5em;
      }
    }
    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  input[type="checkbox"] {
    display: none;
    &:checked + label {
      transition: 200ms linear;
      background: linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      color: transparent;
      .fa-regular {
        display: none;
      }
    }
    &:not(:checked) + label {
      .fa-regular {
        color: #353535;
      }
      .fa-solid {
        display: none;
      }
    }
  }
  label {
    font-size: xx-large;
  }
}

footer {
  background: #353535;
  color: white;
  padding: 20px;
  .footer-desk {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    ul {
      padding: 0;
      gap: 0.5em;
      display: flex;
      flex-direction: column;
    }
    li {
      display: flex;
      gap: 10px;
      a {
        text-decoration: none;
        color: white;
        display: flex;
        gap: 0.5em;
      }
    }
    img {
      filter: invert(100%);
      width: 30%;
    }
  }
}

/* Code restaurant */

.previous-icon {
  font-size: x-large;
}

.resto-img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}

.head-resto {
  display: flex;
  align-items: center;
  a {
    color: black;
    margin-inline-start: 1em;
  }
}

.menu {
  background: $background-color;
  margin-top: -8%;
  z-index: 10;
  position: relative;
  border-radius: 40px;
}

.menu-head {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  .menu-logo {
    font: 2.2rem "Shrikhand";
    text-align: center;
  }
  input[type="checkbox"] {
    display: none;
    &:checked + label {
      transition: 200ms linear;
      background: linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      color: transparent;
      .fa-regular {
        display: none;
      }
    }
    &:not(:checked) + label {
      .fa-regular {
        color: #353535;
      }
      .fa-solid {
        display: none;
      }
    }
  }
  label {
    font-size: xx-large;
  }
}

.menu-align {
  display: grid;
  margin-inline: 5%;
}

.menu-title {
  width: 2em;
  display: inline-block;
  border-bottom: solid #99e2d0;
}

.menu-cards-entree {
  display: flex;
  flex-direction: column;
  gap: 1em;
  animation: loading 1500ms linear;
}

.menu-cards-plats {
  @include cards;
  animation: loading 1800ms linear;
}

.menu-cards-dessert {
  @include cards;
  animation: loading 2100ms linear;
}

.menu-details {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 95%;
  background: white;
  border-radius: 20px;
  padding: 1em;
  margin-right: -5%;
  & h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & p {
    margin: 0;
    margin-inline-end: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.order {
  padding-block: 2em;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

@keyframes sliding {
  0% {
    width: 0%;
  }

  50% {
    width: 10%;
  }

  100% {
    width: 20%;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 0.5;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.check-hover {
  display: flex;
  &:hover {
    .check {
      animation: sliding 400ms linear;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      border-radius: 0 20px 20px 0;
      background: #99e2d0;
      font-size: 2.5em;
      color: white;
      .fa-circle-check {
        display: inline;
      }
    }
  }
  .fa-circle-check {
    display: none;
  }
}

/* Desktop */

@media screen and (min-width: 768px) {
  header img {
    margin: 0 40%;
    width: 20%;
  }

  .text-intro {
    h1 {
      font-size: xxx-large;
    }
    p {
      color: #353535;
    }
  }

  .head-resto {
    padding-inline: 1em;
  }

  .function-desk {
    display: flex;
    justify-content: center;
    padding-block-end: 1em;
    gap: 1em;
    align-items: flex-start;
  }

  .function-section {
    margin-inline: 2%;
    h2 {
      margin-inline-start: 5%;
    }
  }

  .fonctionnement {
    width: 20%;
  }

  .step123 {
    top: 38%;
    left: 1.5em;
  }

  .resto-section {
    padding: 2em;
    h2 {
      margin-inline-start: 5%;
    }
  }

  .resto-cards {
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    .new-restaurant {
      p{
        padding: 0.5em;

      }
    }
  }

  .restaurant {
    margin-inline-start: 10%;
    .new-restaurant{
      p{
        left: 75%;
      }
    }
  }

  footer {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 4em;
    .footer-desk {
      display: flex;
      flex-direction: row-reverse;
      gap: 4.5em;
      justify-content: end;
      align-items: end;
      ul {
        display: flex;
        gap: 15px;
        flex-direction: row;
        align-items: end;
        margin: 0;
      }
      img {
        width: 15%;
      }
    }
  }

  .menu {
    width: 70%;
    margin-inline: 15%;
    border-radius: 40px;
    .menu-details {
      width: 95%;
      p {
        margin-inline-end: 2em;
      }
    }
    .menu-head {
      justify-content: center;
      gap: 3em;
    }
    .menu-align {
      margin-inline: 10%;
    }
  }
  .check-hover {
    display: flex;
    &:hover {
      .check {
        animation: sliding-desk 400ms linear;
        width: 15%;
      }
    }
  }
  @keyframes sliding-desk {
    0% {
      width: 0%;
    }

    50% {
      width: 7.5%;
    }

    100% {
      width: 15%;
    }
  }
}
